dump.rdb
pkg/*
lib-cov
*.log
*.csv
*.out
*.pid
pids
results
node_modules
npm-debug.log
test.result.log
.idea
.DS_Store
log/*.log
.c9revisions
coverage.html
.settings
doc
xunit.xml
output.xml
!service/gen-nodejs/*.js
*.tar.gz
dist
public
*.baidao.com
deploy/nginx.config/*